<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/home_style.css')}}">
    <title>Home</title>
</head>
<body>
    <h1 class="titolo">Iris AI</h1>
    <h2>{{ greeting }}, come posso aiutarti?</h2>
    <form action="/home" method="post">
        <label for="text_input">Inserisci il tuo testo</label>
        <input type="text" id="text_input" name="text_input">
        <button type="submit">Invia</button>
    </form>
    {% if result %}
    <h2>Risultato:</h2>
    <p>{{result}}</p>
    {% endif %}
</body>
</html>