<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Login</title>
</head>
<body>
    <h1 class="titolo">Iris AI</h1> 
    <form action="/auth" method="post">
        <label for="text_input">Immetti la password per continuare</label>
        <input type="text" id="text_input" name="text_input">
        <button type="submit">Invia</button>
    </form>
</body>
</html>